body {
  font-family: Noto Serif, serif;
  max-width: 700px;
  margin: 40px auto;
  line-height: 1.6;
  padding: 0 20px;
  color: #111;
  background-color: #f4f4f4;
}
 h1 {
        font-weight: 700;
        font-size: 3rem;
        color: #333; /* Dark text */
    }
    p {
        font-weight: 300;
        color: #666;
        font-size: 1.2rem;
nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #444;
}
nav {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
